{% load staticfiles %}
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static "css/blog.css" %}">
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
      <div class="page-header">
          <h1><a href="/">About</a></h1>
      </div>

      <div class="content-section-b">
          <div class="container">
              <div class="row">
                  <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                      <div class="clearfix"></div>
                      <h2 class="section-heading">Hello,<br></h2>
                      <p class="lead">I'm an undergraduate software engineer at UBC. I'm passionate about web development, technologies and design. I'm also interested in mobile app development and software testing.
                      <br>Besides engineering, I do graphic design ocassionally, check out my <a href="{% url "portfolio" %}"> portfolio </a>for some example of my previous works.</p>
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <h2 class="section-heading">Say Hi!</h2>
                      <p class="lead">Drop me an email at <code>kellypurai@gmail.com</code> :)</p>
                  </div>

                  <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                      <img class="img-responsive" src="{% static "img/me2.jpg" %}" alt="">
                  </div>
              </div>
          </div>
      </div>

      <div class="row footer">
        <p>&copy; 2015. All Rights Reserved.  <br> Powered by <a href="https://www.djangoproject.com">Django</a>. Hosted on <a href="https://www.pythonanywhere.com">PythonAnywhere.</p>
      </div>

    </body>
</html>
