{% load staticfiles %}
<html>
    <head>
        <title>Hello</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static "css/blog.css" %}">
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>

    <body>
      <div class="page-header">
          <h1><a href="/">Kelly Anyi</a><br><h5>Software Developer / Designer</h5></h1>
      </div>

      <div class="content-section-b">
          <div class="container-fluid">
            <!--ul class="nav-menu">
              <li><a class="link1" href="{% url "project" %}">Projects</a></li>
              <li><a class="link2" href="{% url "post_list" %}">Blog</a></li>
              <li><a class="link3" href="{% url "portfolio" %}">Portfolio</a></li>
              <li><a class="link4" href="{% url "about" %}">About</a></li>
            </ul-->
            <div id="box" class="row">

                <div class="col-md-12 box1">
                  <h4><a href="{% url "project" %}">Projects</a></h4>
                </div>

                <div class="col-md-12 box2">
                  <h4><a href="{% url "post_list" %}">Blog</a></h4>
                </div>

                <div class="col-md-12 box3">
                  <h4><a href="{% url "portfolio" %}">Portfolio</a></h4>
                </div>

                <div class="col-md-12 box4">
                  <h4><a href="{% url "about" %}">About</a></h4>
                </div>
            </div>
          </div>
        </div>

      <div class="row footer">
        <p>&copy; 2015. All Rights Reserved.
          <br> Powered by <a href="https://www.djangoproject.com">Django</a>. Hosted on <a href="https://www.pythonanywhere.com">PythonAnywhere.</p>
      </div>

    </body>
</html>
