{% load staticfiles %}
<html>
    <head>
        <title>Portfolio</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static "css/blog.css" %}">
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>

    <body>
      <div class="page-header">
          <h1><a href="/">Portfolio</a></h1>
      </div>

      <div class="content-section-a">
        <div class="container">
          <div class="row">
              <div class="col-lg-5 col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Print Design<br><small>Adobe Photoshop | 2015</small></h2>
                  <p class="lead">Promotional flyer for an aircraft engineering company <a target="_blank" href="http://www.ameacademy.com">AME Training Academy.</a></p>
              </div>
              <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <img class="img-responsive" src="{% static "img/p.png" %}" alt="">
              </div>
          </div>
        </div>
      </div>

      <div class="content-section-b">
        <div class="container">
          <div class="row">
              <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Print Design<br><small>Adobe Illustrator | 2014</small></h2>
                  <p class="lead">Designed a sticker label on a wedding favor. Design theme (polka dots) was orchestrated by the bride.
                  </p>
              </div>
              <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="{% static "img/s.png" %}" alt="">
              </div>
          </div>
        </div>
      </div>

      <div class="content-section-a">
        <div class="container">
          <div class="row">
              <div class="col-lg-5 col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Logo Design<br><small>Adobe Illustrator | 2014</small></h2>
                  <p class="lead">Logo & signage for a personal business.</p>
              </div>
              <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <img class="img-responsive" src="{% static "img/c2.png" %}" alt="">
              </div>
          </div>
        </div>
      </div>

      <div class="content-section-b">
        <div class="container">
          <div class="row">
              <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Print Design<br><small>Adobe Photoshop | 2013</small></h2>
                  <p class="lead">Designed of a stage banner for a local church. "Launch Out Into The Deep" was the theme for the year 2013.</p>
              </div>
              <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="{% static "img/banner1.png" %}" alt="">
              </div>
          </div>
        </div>
      </div>

      <div class="content-section-a">
        <div class="container">
          <div class="row">
              <div class="col-lg-5 col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Print Design<br><small>Adobe Photoshop | 2013</small></h2>
                  <p class="lead">Designed invitation card for an engagement ceremony.</p>
              </div>
              <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <img class="img-responsive" src="{% static "img/be.png" %}" alt="">
              </div>
          </div>
        </div>
      </div>

      <div class="content-section-b">
        <div class="container">
          <div class="row">
              <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Misc.<br><small>Adobe Photoshop | 2012</h2>
                  <p class="lead">Mastering a Photoshop text effect technique.</p>
              </div>
              <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="{% static "img/ibelieve.png" %}" alt="">
              </div>
            </div>
        </div>
      </div>

      <div class="row footer">
        <p>&copy; 2015. All Rights Reserved.  <br> Powered by <a href="https://www.djangoproject.com">Django</a>. Hosted on <a href="https://www.pythonanywhere.com">PythonAnywhere.</p>
      </div>
    </body>
</html>
