{% extends "blog/base.html" %}

{% block content %}

{% for post in posts %}
    <div class="post">
      <div class="date">
        <p>{{ post.published_date|date }}</p>
      </div>
      <h1><a href="{% url "post_detail" pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
      </div>
{% endfor %}

{% endblock content %}
