{% extends "blog/base.html" %}

{% block content %}

<div class="post">
{% if post.published_date %}
  <div class="date">
    {{ post.published_date|date }}
  </div>
  {% endif %}
  <h1>{{ post.title }}</h1>
  <p>{{ post.text|linebreaks }}</p>

</div>

<div>
  <center><a href="{% url "post_list" %}" class="button">back</a></center>
</div>

{% endblock %}
