{% load staticfiles %}
<html>
    <head>
        <title>Projects</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static "css/blog.css" %}">
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
      <div class="page-header">
          <h1><a href="/">Projects</a></h1>
      </div>

      <div class="content-section-a">
      <div class="container">
          <div class="row">
              <div class="col-lg-5 col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h3 class="section-heading">AirUBC</h3>
                  <p class="lead">AirUBC is a flight reservation system for domestic flights across Canada.
                    <br>Built on a Java platform (NetBeans IDE). Connected to a MySQL database via MySQL Connector/J.</p>
              </div>
              <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <img class="img-responsive" src="{% static "img/airubc1.png" %}" alt="">
              </div>
          </div>
      </div>

    </div>

    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h3 class="section-heading">Planes Gone Wild (Flight Simulator)</h3>
              <p class="lead">An android application that simulates an aircraft flight.
                <br>Utilized Android device built-in sensors for flight controls and integrated physics equation for realistic movement.
                Integrated Google Map API for a realistic experience.
              <br>Built on a Java platform (Eclipse IDE).</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
              <img class="img-responsive" src="{% static "img/plane.png" %}" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="content-section-a">
      <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h3 class="section-heading">Undoable Pacman</h3>
                <p class="lead">Pacman game that enables user to perform undo on each pacman moves.
                <br>Built on a Java platform (Eclipse IDE), with Apache Maven as project management tool. </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="{% static "img/pacman.png" %}" alt="">
            </div>
        </div>
      </div>
    </div>

    <div class="row footer">
      <p>&copy; 2015. All Rights Reserved.<br> Powered by<a href="https://www.djangoproject.com"> Django</a></p>
    </div>

    </body>
</html>
