.page-header {
    background-color: #ffffff;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #000000;
    font-size: 20pt;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    font-weight: 500;
}

.lead {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
    font-size: 22pt;
}

/*.nav-menu {
  font-family: 'Source San',sans-serif;
  list-style: none;
  font-size: 18pt;
  text-transform: uppercase;
  letter-spacing: 6px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.nav-menu li {
  border-style: groove;
  text-align: center;
  margin: 50px;
}

.nav-menu li a {
  color: grey;
  text-decoration: none;
}

.nav-menu li:hover {
  border-style: dotted;
  border-color: #fff;
  background-color: black;
  cursor:pointer;
}

.nav-menu .link1:hover{
  color: orange;
}

.nav-menu .link2:hover{
  color: #00eeff;
}

.nav-menu .link3:hover{
  color: red;
}

.nav-menu .link4:hover{
  color: yellow;
}*/

#box {
  font-family: 'Source San',sans-serif;
  list-style: none;
  font-size: 18pt;
  text-transform: uppercase;
  letter-spacing: 6px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#box .box1:hover, .box2:hover, .box3:hover, .box4:hover{
  background-color: #eee;
  cursor:pointer;
  text-decoration: line-through;
}

#box .box1 {
  margin: inherit;
  border-style: solid;
  border-color: red;
  color: red;
}

#box .box2 {
  margin:inherit;
  border-style: solid;
  border-color: #00CCFF;
  color: #00CCFF;
}

#box .box3 {
  margin: inherit;
  border-style: solid;
  border-color: orange;
  color: orange;
}

#box .box4 {
  margin: inherit;
  border-style: solid;
  border-color: grey;
  color: grey;
}

#box a:link {
  color:inherit;
  text-decoration: none;
}


span {
  text-align: center;
  background: #fff;
  color: #000;
  cursor: pointer;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.footer {
  background-color: #ffffff;
  padding: 20px 20px 20px 40px;
}

.footer p {
  font-size: 8pt;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  padding: 2px;
}
